<mat-card class="content">
    <mat-card-content>
        <div class="mensaje"> {{successMsg}}</div>
        <hr>
        <div><span>Gracias por querer hacer parte de nuestra compañia.</span></div><br>
        <p>Revisa inmediatamente tu correo (recuerda revisar la bandeja de spam y promociones).
            Allí recibirás las pruebas que darán inicio a tu proceso de selección.</p>
        <hr>
    </mat-card-content>
    
    <mat-card-actions style="display: block; margin: 0 auto;">
        <button mat-raised-button color="primary" (click)="regresarAlFormulario()">Cerrar</button>
    </mat-card-actions>
</mat-card>